.col1 {
	width: 100px;
    background-color: lightcoral;
    display: inline-block;
}

.col2 {
	width: 300px;
    background-color: lightgreen;
    display: inline-block;
}

.row {
	border-spacing: 2;
	border: 1px black solid;
}

#box {
}
